html {
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  body {
    margin: 0;
    /* background-color: aliceblue; */
  }

  .container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-top: 250px;

  }
  .center {
    color: seagreen;
    font-weight: bold;
    font-family: Tahoma;
  }